<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Online Porfolio and Resume for Javier Taylor">
	    <meta name="author" content="Javier Taylor">
	    <meta name="keywords" content="Resume, Javier, Taylor, Javer Taylor, Computer Science, Portfolio, Michigan">
		<title>Javier Taylor</title>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/back.js"></script>
		<link rel="icon" href="misc/jt-min.png">
	</head>

	<body data-spy="scroll" data-offset="100">
		<div class="load"></div>
		<div class="wrapper"></div>

		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#top">Javier Taylor</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 5px;">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#about">About</a></li>
	            <li><a href="#resume">Resume</a></li>
	            <li><a href="#know">What I Know</a></li>
	            <li><a href="#projects">Projects</a></li>
	            <li><a href="#contact">Contact Me</a></li>
	          </ul>
	        </div>
	      </div>
	    </nav>

		<div class="container" id="top">
		    <left><img src="misc/jt-min.png" width="150" class="verticalLine"></left>
		    <div>
			    <p><h3>"People think that computer science is the art of geniuses but the actual reality is the opposite, just many people doing things that build on each
			    	other, like a wall of mini stones."</h3><h4>- David Knuth</h4><h3>"My computer beat me at checkers, but I sure beat it at kickboxing!"</h3><h4>- Unknown </h4><p>
			</div>
			<br>
			
			<center>
			<div class="boxed" id="about">
				<center><h1>About Me</h1></center>
				<hr><p>
				<img src="misc/javier.png" alt="Javier Taylor" width="200" style="border: 5px solid black">
					<h3><b id="link">Who am I?</b></h3>My name is Javier Taylor and I am a 19 year old aspiring software engineer studying Computer Science in my soon to be third 
					year at the University of Michigan in Ann Arbor, MI. I grew up in Ypsilanti, MI, and my roots lie in the hills of Tennesse and the coasts of the Dominican Republic.
					<h3><b id="link">How did I get here?</b></h3>Before coming to college I had never written a line of code in my life. I chose the University of Michigan 
					because it was close, I loved the sports teams, and I thought I was going to be a mechanical engineer. But, when I took my first programming course, I 
					realized that I had found something that I really enjoyed, so I threw myself into it. I started going deeper into the major, working in class and on my own 
					to hone my programming abilities. I have worked to develop teamwork and leadership through group projects and organizations that I am a part of, and it has 
					shaped the way that I look at development. I have taken courses ranging from entrepreneurial creativity to data structures and algorithms, and the more that I 
					learn, the better I am at working through any problem that is thrown my way. I am currently a Software Engineering intern at Servant Systems Inc, a small company
					near Ann Arbor, MI.  
					<h3><b id="link">What should you know about me?</b></h3>I love to program. I hope that will become obvious to you when you look at all that I have to show you. 
					But, I will not pretend that is the only thing that I love to do, as that would be unfortunate. I love to travel, explore, and hang out with friends, preferably 
					all together. I have been to many parts of the US, though some of my favorite places to go are on the sand dunes and shores of the Great Lakes. I love to sail, 
					to read, to eat good food, and to play video games. I am passionate about my Christian faith, and I am deeply involved in it and in representing its ideals to 
					the world. I love cars, camping, and physical activity, such as playing football, soccer, basketball, or rugby, or lifting weights and exercising. I strive
					to work hard and be honest in all that I do, and to serve others with my actions and relations. 
					<h3><b id="link">Why are you here?</b></h3>Clearly, I do not know why you are here. Maybe you are a recruiter, maybe you are a friend, maybe you saw my GitHub
					and followed a link, or maybe you just randomly found my website while surfing the Web. Whatever it is, I would just like to show you a little bit about myself. There are links at the top to different sections, so just scroll around and see if there is anything you like. Enjoy!
				</p>
			</div>
		
			<br><br>
			<div class="boxed" id="resume">
				<center><h1>Resume</h1></center>
				<hr>
				<h2>Education</h2>
				<div class="panel panel-primary">
					<div class="panel-heading chev">
						<div>
							<font size="3"><span><b>University of Michigan</b></span>
							<span class="pull-right">
								<i>2014 - 2018</i>
							</span></font>
						</div>
					</div>
					<div class="panel-body"><font size="3">
						<span class="pull-right">
							<a href="https://www.umich.edu" target="_blank"><img src="misc/m-min.png" width="200"></a>
						</span>
						<b>Computer Science, B.S.E.</b><br>
						<b>Minor in Entrepreneurship</b><br><br>
						Relevant Course Subjects:
						<ul style="list-style: circle;">
							<li>Data Structures and Algorithms</li>
							<li>Computer Organization</li>
							<li>Introduction to Logic Design</li>
							<li>Entrepreneurial Creativity</li>
							<li>Programming & Introductory Data Structures</li>
							<li>Discrete Mathematics</li>
							<li>Introduction to Statistics and Data Analysis</li>
							<li>Engineering Design-Build-Test: Underwater Vehicle Design</li>
							<li>Technical Communication</li>
							<li>Introduction to Computers and Programming</li>
						</ul>
					</font></div>
				</div>
				<br>

				<h2>Experience</h2>
				<div class="panel panel-primary">
					<div class = "panel-heading chev">
						<div>
							<font size="3"><span><b>Servant Systems, Inc.</b></span>
							<span class="pull-right">
								<i>May-Aug. 2016</i>
							</span></font>
						</div>
					</div>
					<div class="panel-body"><font size="3">
						<span class="pull-right">
							<a href="http://www.servantsystems.com/" target="_blank"><img src="misc/ssi.png" width="200"></a>
						</span>
						<b>Software Engineering Intern</b><br>
						<ul style="list-style: circle;">
							<li>Worked on a team of Software Engineers to create software systems for franchise customers through the design, 
							implementation, and testing of project using agile development methodology</li>
							<li>Utilized C#, JavaScript, and more for developing and testing alonside tools such as Visual Studio and Selenium</li>
						</ul>
					</font></div>
				</div>
				<div class="panel panel-primary">
					<div class = "panel-heading chev">
						<div>
							<font size="3"><span><b>TrailTuff Nets, LLC</b></span>
							<span class="pull-right">
								<i>July 2012-Present</i>
							</span></font>
						</div>
					</div>
					<div class="panel-body"><font size="3">
						<span class="pull-right">
							<a href="http://www.trailtuffnets.com/" target="_blank"><img src="misc/ttn.png" width="200"></a>
						</span>
						<b>Co-Founder</b><br>
						<ul style="list-style: circle;">
							<li>Co-Founded small company that produces polypropylene cargo nets for off road vehicles</li>
							<li>Designed website and product, managed products and orders, and worked to streamline processes</li>
						</ul>		
					</font></div>
				</div>
				<div class="panel panel-primary">
					<div class = "panel-heading chev">
						<div>
							<font size="3"><span><b>University of Michigan Transportation Research Institute</b></span>
							<span class="pull-right">
								<i>Sept. 2014-April 2015</i>
							</span></font>
						</div>
					</div>
					<div class="panel-body"><font size="3">
						<span class="pull-right">
							<a href="http://www.umich.edu/~driving/" target="_blank"><img src="misc/umtri.png" width="200"></a>
						</span>
						<b>Research Assistant in Driver Interface Group</b><br>
						<ul style="list-style: circle;">
							<li>Helped to run experiments, assisted in report drafting, reviewing, and editing, coded scenarios 
							for MiniSim driving simulator for experimental use</li>
							<li>Worked in teams to draft experiment reports, author simulator experiments, and accomplish all 
							experiment related tasks. Learned teamwork, research methods, system optimization concepts</li>
						</ul>		
					</font></div>
				</div>
				<br>
				<font size="3"><p>This is just a quick overview and summary of some of my experience. You can find my full descriptions on my <a 
					id="link" href="https://www.linkedin.com/in/JavierTaylor" target="_blank">Linkedin</a> profile. Also, you can click on the 
					pictures in the descriptrions above to go to the websites of the organizations.</p></font>
			</div>
			<br><br>

			<div class="boxed" id="know">
				<center><h1>What I Know</h1></center>
				<hr>
				Apparently, nothing. Just kidding, this section is being built. 
				<h3>
					<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus"
								data-content="My coursework at Michigan has been focused on programming, and has used C++ to teach it">C++</button>
					<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus"
								data-content="My Computer Organization course required the use of C for projects, so I learned it.">C</button>
					<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus"
								data-content="My first programming experience was with Matlab, and I still use it for mathematical computations">Matlab</button>
				</h3>
			</div>
			<br><br>

			<div class="boxed" id="projects">
				<center><h1>Projects</h1></center>
				<hr>

				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="misc/notepad.png" alt="..." id="thumb">
							<div class="caption">
							<center><h3>NotePad</h3></center>
								<center><button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus"
								data-content="NotePad is an Android app where you can create, edit, and share notes on your phone easily.">
								Description</button>
								<a href="http://javiertaylor.github.io/NotePad/" target="_blank" class="btn btn-primary" role="button">Project Site</a></center>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="misc/ios.png" alt="..." id="thumb">
							<div class="caption">
							<center><h3>iOS App</h3></center>
								<center><button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus"
								data-content="I am currently learning how to develop in XCode for iOS, and am making my first app. I will try to release it soon.">
								Description</button></center>
							</div>
						</div>
					</div>
				</div>
				<br>
				<font size="3"><p>I have included larger projects that I have worked on, discluding small bits of code and samples of my programming. To see all of my public code, 
				check out my <a href="https://github.com/JavierTaylor" id="link" target="_blank">GitHub</a> account.
				Also, this website is a project of mine, so you could look at it too. It was made from scratch (well, except for Bootstrap, Angular, and the fact
				that I did not <i>make</i> HTML, CSS, of JavaScript).</p></font>
			</div>
			<br><br>

			<div class="boxed" id="contact">
				<center><h1>Contact Me</h1></center>
				<hr>
				<div class="enclose">
					<form class="next" onsubmit="return onSubmitForm();" method="post" name="form" action="https://formspree.io/javierat@umich.edu">
						<label for="personName">Name:</label>
						<input class="form-control" type="text" id="personName" ng-model="yourName" placeholder="Your Name" required="true">
						<label for="email">Email:</label>
						<input class="form-control" type="email" id="email" ng-model="theEmail" placeholder="Your Email" required="true" name="_replyto">
						<label for="subject">Subject:</label>
						<input class="form-control" type="text" id="subject" ng-model="theSubject" placeholder="Message Subject" required="true" name="subject">
						<label for="subject">7+16?:</label>
						<input class="form-control" type="number" id="num" ng-model="security" placeholder="Do some math" required="true" name="math">
						<br>
						<label for="comment">Message:</label> 
						<textarea class="form-control" type="text" rows="5" id="comment" name="body">
Hello Javier,
	My name is {{yourName}} and I am contacting you because 
						</textarea>
						<br>
						<input class="btn btn-primary" type="submit" value="Submit Contact">
					</form>
					<div class="info">
						<h4>Email:</h4>javierat@umich.edu<br><br>
						<h4>Phone:</h4>(734)256-0957<br><br>
						<h4>GitHub:</h4><a id="link" href="https://github.com/JavierTaylor" target="_blank">github.com/JavierTaylor</a><br>
						<h4>Linkedin:</h4><a id="link" href="https://www.linkedin.com/in/JavierTaylor" target="_blank">linkedin.com/in/JavierTaylor</a>
					</div>
				</div>
			</div><br>
			</center>
		</div>
	</body>
</html>