body {
	color: black;
	font-family: times new roman;
	text-align: center;
	overflow: auto;
	padding: 80px;

	background: #1EAFFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#85C1E9, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#85C1E9, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#85C1E9, blue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#85C1E9, blue);

}

div.boxed {
	text-align: left;
	color: black;
	background-color: white;
	border: solid;
	border-color: black;
	border-width: 5px;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	overflow: auto;
}

#link {
	color: #DC143C !important;
}

img {
	margin: 0px 15px 0px 0px;
	float: left;
}

.verticalLine {
	border-spacing: 0px 0px 0px 0px;
	padding-right: 30px;
	border-right: 2px solid white;
}